<!-- main header** -->
<link rel="stylesheet" href="/static/css/style.css">
<header class="main-header header-two">

    <div class="header-top-wrap bgc-secondary">
        <div class="container-fluid">
            <div class="header-top">
                <div class="text"><span class="hello">Hello</span> We’re professional IT solutions company. Let’s work together <a href="/contact#contact-form">Contact Us</a></div>
            </div>
        </div>
    </div>
    
     <!--Header-Upper-->
     <div class="header-upper bg-white">
         <div class="container-fluid clearfix">

             <div class="header-inner rel d-flex align-items-center" >
                 <div class="logo-outer">
                     <div class="logo"><a href="/home"><img src="/static/images/logos/logo.png" alt="Logo" title="Logo" width="200" height="70"></a></div>
                 </div>

                 <div class="nav-outer mx-auto clearfix">
                     <!-- Main Menu -->
                     <nav class="main-menu navbar-expand-lg">
                         <div class="navbar-header py-10">
                            <div class="mobile-logo" >
                                <a href="/home">
                                     <img src="/static/images/logos/logo.png" alt="Logo" title="Logo" width="200" height="50">
                                </a>
                            </div>
                            
                             <!-- Toggle Button -->
                             <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                                 <span class="icon-bar"></span>
                             </button>
                         </div>

                         <div class="navbar-collapse collapse clearfix">
                             <ul class="navigation clearfix">
                                 <li class=""><a href="/home">Home</a>
                                     
                                 </li>
                                 <li class=""><a href="/about">About us</a>
                                     
                                 </li>
                                 <li class=""><a href="/services">services</a>
                                     
                                 </li>
                                 <li class=""><a href="/career">career</a>
                                    {% comment %} <ul> {% endcomment %}
                                        {% comment %} <li><a href="/career">career</a></li> {% endcomment %}
                                        {% comment %} <li><a href="project-masonry.html">Project Masonry.</a></li> {% endcomment %}
                                        {% comment %} <li><a href="project-details.html">Project Details</a></li> {% endcomment %}
                                    {% comment %} </ul> {% endcomment %}
                                </li>
                                <li class=""><a href="/courses">Courses</a>
                                    {% comment %} <ul> {% endcomment %}
                                        {% comment %} <li><a href="/courses">Courses</a></li> {% endcomment %}
                                        {% comment %} <li><a href="product-details.html">Courses details</a></li> {% endcomment %}
                                        {% comment %} <li><a href="cart.html">cart page</a></li> {% endcomment %}
                                        {% comment %} <li><a href="checkout.html">checkout</a></li> {% endcomment %}
                                    {% comment %} </ul> {% endcomment %}
                                </li>
                                {% comment %} <li class="dropdown"><a href="#">blog</a>
                                    <ul>
                                        <li><a href="blog.html">blog standard</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li> {% endcomment %}
                                <li class=""><a href="/contact#contact-form">Contact us</a>
                                    <ul>
                                        
                
                                        {% comment %} <li><a href="/team">Team</a></li> {% endcomment %}
                                        {% comment %} <li><a href="/faqs">faqs</a></li> {% endcomment %}
                                        {% comment %} <li><a href="/pricing">Pricing Plan</a></li> {% endcomment %}
                                        {% comment %} <li><a href="/404">404 error</a></li> {% endcomment %}
                                    </ul>
                                 </li>
                             </ul>
                         </div>

                     </nav>
                     <!-- Main Menu End-->
                 </div>
                 
                 <!-- Nav Search -->
                 {% comment %} <div class="nav-search ms-xl-auto py-10">
                     <button class="far fa-search"></button>
                     <form action="#" class="hide">
                         <input type="text" placeholder="Search" class="searchbox" required="">
                         <button type="submit" class="searchbutton far fa-search"></button>
                     </form>
                 </div> {% endcomment %}
                 
                 <!-- Menu Button -->
                 <div class="menu-btns">
                    <a href="/contact#contact-form" class="theme-btn">Get a Quote <i class="fas fa-long-arrow-right"></i></a>
                 </div>
                 
                 <!-- Header Social -->
                 <div class="social-style-two">
                     <a href="https://www.facebook.com/people/Lotlite-Technologies/61559071712419/"><i class="fab fa-facebook-f"></i></a>
                     <a href="https://x.com/lotlite_tech"><i class="fab fa-twitter"></i></a>
                     <a href="https://www.instagram.com/lotlite_technologies/?igsh=cDdweTI4M3N2ZjI2"><i class="fab fa-instagram"></i></a>
                     <a href="https://linkedin.com/company/lotlite-technologies/"><i class="fab fa-linkedin-in"></i></a>
                 </div>
             </div>
         </div>
     </div>
     <!--End Header Upper-->
 </header>